# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Some of the popular languages that Data Scientists use are:
+ Some of the commonly used libraries used by Data Scientists include:
+ Data Science Tools
+ Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python;
2. R;
3. SQL.

Some of the commonly used libraries used by Data Scientists include:

1. SciPy;
2. MatplotLib;
3. Pandas.

| Data Science Tools |
| -------------------|
| Jupyter |
| GitHub |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
m = 200
h = 60

r = m/h

print('results is:', r, 'hours.')

results is: 3.3333333333333335 hours.

## Author
JÃ©ssica Fernandes